PRIVATE_KEY=your_wallet_private_key
BSC_TESTNET_RPC_URL=https://data-seed-prebsc-1-s1.bnbchain.org:8545
RPC_URL=https://data-seed-prebsc-1-s1.bnbchain.org:8545
ETHERSCAN_API_KEY=your_etherscan_v2_api_key
VERIFY_ON_DEPLOY=false
